@model FPT_JOBPORTAL.JobModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>JobModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NameJob" class="control-label"></label>
                <input asp-for="NameJob" class="form-control" />
                <span asp-validation-for="NameJob" class="text-danger"></span>
            </div>
             <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <select asp-for="CategoryId" class="form-control" asp-items="ViewBag.CategoryId"> </select>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionJob" class="control-label"></label>
                <input asp-for="DescriptionJob" class="form-control" />
                <span asp-validation-for="DescriptionJob" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Company" class="control-label"></label>
                <input asp-for="Company" class="form-control" />
                <span asp-validation-for="Company" class="text-danger"></span>
            </div>
            @* <div class="form-group">
                <label asp-for="DatePost" class="control-label"></label>
                <input asp-for="DatePost" class="form-control" />
                <span asp-validation-for="DatePost" class="text-danger"></span>
            </div> *@
            <div class="form-group">
                <label asp-for="Salary" class="control-label"></label>
                <input asp-for="Salary" class="form-control" />
                <span asp-validation-for="Salary" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Requirement" class="control-label"></label>
                <input asp-for="Requirement" class="form-control" />
                <span asp-validation-for="Requirement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-danger">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
